<nav class="navbar navbar-dark" style="background-color: #4B0082;">
    <a class="navbar-brand" href="#">
        <img src="../assets/defaultImage.png" width="30" height="30" class="d-inline-block align-top" alt=""> Image Forgery Detection - Auxilium
    </a>
</nav>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  loadingText="Loading..."
  type="ball-fussion">
</ngx-spinner>

<br>
<div class="text-center">
    <img [src]="imageSource" class="img-fluid fixedHeight" alt="Responsive image">
</div>
<br>
<ng-container *ngIf="!fileSelected">
    <label class="btn btn-primary btn-lg btn-block darkerColor">
        Browse
        <input type="file" style="display: none;" (change)="onChange($event)">
    </label>
</ng-container>
<!--<ng-container *ngIf="spliceSelected">-->
  <!--<div class="container">-->
    <!--<div class="btn-toolbar justify-content-around" role="toolbar" aria-label="Toolbar with button groups">-->
      <!--<img  [src]="rgbSource" width="400" height="300" class="d-inline-block align-top" alt="">-->

    <!--</div>-->
  <!--</div>-->
<!--</ng-container>-->
<ng-container *ngIf="fileSelected">
    <div class="container">
        <div class="btn-toolbar justify-content-around" role="toolbar" aria-label="Toolbar with button groups">
            <div class="col-md-auto" >
                <button type="button" class="btn btn-primary darkerColor btn-space" (click)="checkForClone()">Clone</button>
                <button type="button" class="btn btn-primary darkerColor btn-space" (click)="checkForResample()">Resample</button>
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-primary darkerColor btn-space" id="dropdownBasic1" ngbDropdownToggle>Splice</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button class="btn btn-primary darkerColor" class="dropdown-item" (click)="checkForSpliceNoise()" >Noise</button>
                  <button class="btn btn-primary darkerColor" class="dropdown-item" (click)="checkForSpliceCFA()" >CFA</button>

                </div>
              </div>
                <button type="button" class="btn btn-primary darkerColor btn-space" (click)="checkForFilter()">Filter</button>

            </div>
            <div class="col-4">
                <button type="button" class="btn btn-warning" (click)="clearImage()">Clear Image</button>
            </div>
        </div>
    </div>


    <!-- <button type="button" class="btn btn-primary btn-lg btn-block">ClearImage</button>
    <button type="button" class="btn btn-secondary darkerColor btn-lg btn-block">Block level button</button> -->
</ng-container>

